{% extends 'index.html' %}
{% block content %}
    <footer>
      <a href="{% url 'CRUD.views.autores_nuevo' %}" class="button style2 scrolly">Nuevo Autor</a>
    </footer>
{% for aut in autor %}
    <br>
    <header>
      <h3>{{ aut.NombreA }}</h3>
    </header>
    <a class="btn btn-default" href="{% url 'CRUD.views.autores_editar' pk=aut.pk %}">
      <span class="glyphicon glyphicon-pencil"  style="background-color: #000000"></span></a>
      
    <a class="btn btn-default" href="{% url 'CRUD.views.autores_borrar' pk=aut.pk %}">
      <span class="glyphicon glyphicon-minus"  style="background-color: #000000"></span></a>
{% endfor %}
{% endblock %}
