{% load staticfiles %}
<html>
<head>
    <title>Django Girls blog</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="page-header">
       <a href="{% url 'CRUD.views.libro_nuevo' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
       <h1><a href="{% url 'CRUD.views.show_libros' %}">Libros</a></h1>
       <br>
       <h2><a href="{% url 'CRUD.views.show_autores' %}">Ver Autores</a>
       <a class="btn btn-default" href="{% url 'CRUD.views.autores_nuevo' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a></h2>
       <h2><a href="{% url 'CRUD.views.show_generos' %}">Ver Generos</a>
       <a class="btn btn-default" href="{% url 'CRUD.views.generos_nuevo' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a></h2>
       {% if usuario %}
       <h3><a href="{% url 'CRUD.views.cerrar' %}">Cerrar Sesion</a></h3>
       {% endif %}
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
