{% extends 'index.html' %}
{% block content %}
    <footer>
      <a href="{% url 'CRUD.views.generos_nuevo' %}" class="button style2 scrolly">Nuevo Genero</a>
    </footer>
    {% for aut in genero %}
    <br>
    <header>
      <h2>{{ aut.NombreG }}</h2>
    </header>
    <a class="btn btn-default" href="{% url 'CRUD.views.generos_editar' pk=aut.pk %}"><span class="glyphicon glyphicon-pencil" style="background-color: #000000"></span></a>
    <a class="btn btn-default" href="{% url 'CRUD.views.generos_borrar' pk=aut.pk %}"><span class="glyphicon glyphicon-minus" style="background-color: #000000"></span></a>
    <br>
    {% endfor %}
{% endblock %}
