{% extends 'index.html' %}

{% block content %}
  <br>
  <header id="detalle">
    <h2>{{ libro.Titulo }}</h2>
    <a class="btn btn-default" href="{% url 'CRUD.views.libro_editar' pk=libro.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
    <a class="btn btn-default" href="{% url 'CRUD.views.libro_borrar' pk=libro.pk %}"><span class="glyphicon glyphicon-minus"></span></a>
  </header>
  <p>{{ libro.Genero }}</p>
  {% for at in autor %}
  <h3>{{ at.Autor }}</h3>
  {% endfor %}
  <p>{{ libro.Resena|linebreaksbr }}</p>
  <br>
{% endblock %}
